/*!
 * Start Bootstrap - Busines Frontpage (https://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */
/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {    
.desktop_hide{display:block!important;}
    .dropdown{}
    .mobile_hide{display:none!important;}
    .sailMatch-logo img{max-width:206px;}
 .sailMatch-logo{-ms-flex: 0 0 83.333333%;float:left;
    flex: 0 0 83.333333%;max-width: 83.333333%;margin-bottom: 20px;}
    .searchbox{-ms-flex: 0 0 16.666667%;float:left;
    flex: 0 0 16.666667%;max-width: 16.666667%;} 
    .searchbox .form-control{display:none;}
    .searchbox {background:transparent!important;border:0!important;}
    nav a{line-height: 30px!important;}
    .dropdown .profile_name,.dropdown-menu,.dropdown-toggle::after{display:none;}
    .desktop_back{display:none;}
    .mobile_back{display:inline-block!important;}
    .dropdown img{max-width:30px;}
    nav a{min-width: 82px;margin: 0!important;
    display: inline-block;text-align:center;}
    /*nav a:last-child{text-align:right;}*/
    nav .nav-el:last-child{text-align:right;}
    nav a:first-child{text-align:left;}
.col-sm-1 {-ms-flex: 0 0 33%!important;flex: 0 0 33%!important;max-width: 33%!important;}
}
.profile_name{color:#585858!important;margin: 0 5px;}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
  
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) { 
    
}
a {
    color: #AFAFAF;font-size:14px;
    text-decoration: none;
    background-color: transparent;
}

.container{
  padding:0px;
}

a:hover{text-decoration:none;color:#000;}
body{font-family:'SF UI Display Light'}
.fa-plus-circle{font-size:24px;position: relative;
    top: 5px;right: 0px;
    margin-right: 5px;}
.dropdown{}
.alert-notification img{width:27px;}
/*.alert-notification_bell img{width:23px;}*/
img{max-width:100%;}
form label{font-size:14px;color:#AFAFAF;}
.searchbox{width: 250px;margin:12px auto;background: #FAFAFA;border: 1px solid #efefef;border-radius:20px;display: inline-table; }
.searchbox #formDiv .form-control{background:transparent;border:0;width: 85%;color:#B8B8B8!important; }
.searchbox #formDiv,.searchbox #formDiv a{color: #B8B8B8;}
.searchbox input::-webkit-input-placeholder { /* Edge */
  color: #B8B8B8;font-size:14px;
}

.searchbox input:-ms-input-placeholder { /* Internet Explorer */
  color: #B8B8B8;font-size:14px;
}

.searchbox input::placeholder {
  color: #B8B8B8;font-size:14px;
}
.desktop_hide{display:none;}
.searchbox .form-control:focus{box-shadow:none!important;}
/*nav a{margin:0 14px;line-height: 50px;font-family: 'SF UI Display Heavy';font-weight:400;}*/
nav .nav-el{margin:0 14px;line-height: 50px;font-family: 'SF UI Display Heavy';font-weight:400;}
nav a span,.dropdown-toggle,.dropdown-item{font-family:'SF UI Display Light';font-size:14px;color:#002E73;}
h1{margin-bottom:20px;font-family: 'SF UI Display Heavy'; }
h1{margin-bottom:5px;font-size:30px;}
.form-control{color: #585858;font-family:'SF UI Display Light';font-size:16px;border-radius: 15px; }
.btn-primary,.gender.btn-secondary:hover {    color: #fff;background-color: #002E73;border-color: #002E73;}
.gender,.save_profile{border-radius:20px;margin-right: 10px;padding:5px 20px;font-size:14px;margin-bottom:10px; }
.button-rounded{border-radius:20px;margin-right: 10px;padding:5px 20px;font-size:14px;margin-bottom:10px;margin-left: 10px;
    margin-top: 10px; }
.save_profile{min-width:252px;min-height:50px;font-size: 16px;font-family: 'SF UI Display Semibold';}
.gender.btn-secondary{background: transparent;color:#585858;border-color: #E2E2E2;}
h6{color:#AFAFAF;font-family: 'SF UI Display Light'; font-size:16px;}
.custom-switch{float:right;}
.custom-control-input:before{content:'Yes'}
.custom-control-input:checked~.custom-control-label::before {
    color: #55ff35;
    border-color: rgba(85, 255, 53, 0.2);
    background-color: rgba(85, 255, 53, 0.2);
}
.categories img{margin-bottom:5px; }
.mobile_back{display:none;}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #55ff35;
}
.col-sm-1{float:left;}.col-sm-offset-1 {
    margin-left: 8.33333333%;
}
.col-sm-1 {
    -ms-flex: 0 0 9.09%;
    flex: 0 0 9.09%;
    max-width: 9.09%;
}
form label{font-family: 'SF UI Display Light'; font-size:14px;color:#AFAFAF;font-weight: 500; }
.col-sm-1 a{color:#585858;}
.location_right{float:right;font-family: 'SF UI Display Light'; font-size:14px;color:#585858;}
.location_left{font-family: 'SF UI Display Light'; font-size:14px;color:#585858;float:left;}
.location_left span.boxed{background: #FAFAFA;border: 1px solid #efefef;border-radius:20px;display: inline-table;padding:0px 10px;line-height: 32px;font-family: 'SF UI Display Medium';min-width:184px; }
.location_left span.boxed img{margin-right:5px;}
.location_left a{float: right;color:#585858;font-family: 'SF UI Display Light'; font-size:12px;}
.post_single{border:1px solid #EFEFEF;border-radius:15px;}
.post_single img{width:100%;}
.btn{font-family: 'SF UI Display Medium';font-size:14px;}
.post_single h5{color:#585858;font-family: 'SF UI Display Bold'; font-size:18px;margin:10px 10px 0 10px;}
.post_single h5 a{color:#585858;font-family: 'SF UI Display Bold';font-size:18px;}
.post_single p{color:#AFAFAF;font-family: 'SF UI Display Light';font-size:14px;margin:3px 10px 0 10px;}
.author{display:flow-root;margin:10px;}
.author .author_name{float:left;color:#585858;font-family: 'SF UI Display Light';font-size:14px;line-height: 26px;}
.author .author_name img{max-width:30px; float:left;border-radius:10px;margin-right:10px;}
.author .members img{max-width:30px; float:left;border-radius:10px;margin-right:-5px;}
.author .category img{max-width:30px; float:right;border-radius:10px;}
.author .category{float:right;}
.post_single .divider{clear:both;max-width: 90%;margin:0 auto;}
.post_footer{color:#AFAFAF;font-family: 'SF UI Display Light';font-size:12px;margin:10px 0;display: flex;}
.fa-heart.selected:before {color:red;font-weight:900}
.add_post img{margin-right:5px;}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

.selectdiv:after {
    content: "\f078";
    color: #707070;
    right: 30px;
    top:36px;
    height: 5px;    font-size: 12px;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
  .userSectionSocialSection .like {
    width: 30%!important;
  }
 /* .userSectionSocialSection .comment {
    padding-left: 6px!important;
  }*/
  .userSectionSocialSection .forward, .userSectionSocialSection .comment {
     display: inline!important; 
    padding-left: 1px!important;
}
    .messageMotificationBox{
      width: 50%!important;
      top: 90px!important;
      right: 200px!important;
    }
    #postInputSection,.postCommentsByUser {
      width: 88%!important;
    }
    .postCommentsByUserReply{
       width: 85%!important; 
    }
  	#membersOnly {
    	width: 25%!important;
	  }
    .forward, .comment {
      display: inline;
      padding-left: 6px!important;
    }
    .matchEventName{
    	left: 70px!important;
    }
    .searchBox{
      top: 64px!important;
      right: 284px!important;
    }
    .matchDownArrow{
      bottom: 27px!important;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait){
  .messageMotificationBox{
    width: 100%!important;
    top: 70px!important;
    right: 190px!important;
  }
  .comment{
  width: 17%!important;
}
.like {
  width: 17%!important; 
}
.userSectionSocialSection .like {
  width: 36%!important; 
}
.userSectionSocialSection .comment {
    width: 25%!important;
    padding-left: 0px!important;
}
.userSectionSocialSection .forward {
    padding-left: 0px!important;
}
.userSectionSocialSection .bar{
  width: 2%!important;
}
  .shareSection{
    left: 40px!important;
  }
  .uploadImg{
    width: 40%!important;
  }
  .postCommentsByUser, .postCommentsByUserReply{
    width: 80%!important;
  }
  .basicInfo .date, .basicInfo .title{
    color: #212529!important;
  }

  #membersOnly {
    width: 34%!important;
  }
  .modelphotoContainer{
    width: 60%!important;
  }
  .modelInfoContainer {
    width: 40%!important;

  }
  .commentReplyByUser{
    margin-left: 10px!important;
    width: 125px!important;
    color: #212529!important;
  }
  .userCommentsReply{
    width: 130px!important;
  }
  .inputSection{
    width: 75%!important;
  }
  .inputSection .commentInput{
        width: 82%!important;
  }
  .commentsByUser{
        width: 187px!important;
        color: #212529!important;
  }
  .userComments{
        width: 183px!important;
        color: #212529!important;
  }
  .modalContainer{
    width: 100%!important;
  }
  .modal-body{
    max-width: 660px!important;
  }
  .next {
    right: 39%!important;
  }
  .modelSocialIcons .like span,
  .modelSocialIcons .comment span,  
  .modelSocialIcons .forward span{
    color: #fff!important;
  }
  .basicInfo {
    padding: 25px;
    color: #fff;
  }
  .deleteBtn{
    margin-top: 10px!important;
    margin-left: 0!important;
  }
  .comment {
    padding-left: 10px!important;
  }
  .forward {
    padding-left: 9px!important;
  }
	.searchbox{
	/*	background: #fff!important;*/
		border: unset!important;
		margin: unset!important;
	}
	.searchbox #formDiv a {
		display: none!important;
	}
	/*.searchbox form{
		padding-top: 15px;
	}*/
	nav{
		position: absolute;
    top: 43px;
    right: 0px;
	}
  .profileWhiteRightImg {
    left: 100px!important;
    top: 80px!important;
  }
  .whiteRightImg {
    left: 90px!important;
    top: 90px!important;
  }
  .padTopMob{
    padding-top: 25px;
  }
  .matchEventName{
  	left: 45px!important;
  }
  .searchBox{
    width: 100%!important;
    top: 5px!important;
    right: 5px!important;
    border-top-left-radius: 20px;
  }
	
}

@media only screen and (min-width:320px) and (max-width:767px){
  .modelPhotoSocialIcons {
    position: absolute;
    left: 40px;
    width: 100%;
    top: 41px!important;
}
  .locationContainer{
    overflow: hidden;
  }
  .dotModel, .commentDotModel{
    width: 18%!important;
  }
  .replyDotModel{
    width: 26%!important;
  }
  .messageMotificationBox{
    width: 80%!important;
    top: 172px!important;
    right: 75px!important;
  }
  .like {
    width: 17%!important;
  }
  .comment{
    width: 14%!important;
  }
  .shareSection {
    bottom: -118px!important;

  }
  #postInputSection, .postCommentsByUser, .postCommentInput {
    width: 86%!important;
  }
  .uploadImg{
    width: 34%!important;
  }
  .postCommentsByUserReply{
    width: 80%!important;
  }

  /*.slider .siteIcons{
    width: 99px!important;
  } */ 
  .photosVideosImg{
    width: 386px!important;
  }
  .event-info .crewBtn, .crewBtn{
    margin-left: 10px!important;
  }
 .commentReplyByUser{
    color: #212529!important;
  }
  /*.userCommentsReply{
    width: 120px!important;
  }
  .inputSection{
    width: 95%!important;
  }
  .inputSection .commentInput{
        width: 82%!important;
  }*/
  .commentsByUser{
     /*   width: 187px!important;*/
        color: #212529!important;
  }
  .userComments{
        /*width: 183px!important;*/
        color: #212529!important;
  }
  .commentReply {
    padding-left: 100px!important;
  }
  .inputSection .commentInput{
    
    color: #fff!important;
  }
  .slider-comment-input{
    background: #000!important;
  }
  .basicInfo a span{
    color: #fff!important;
  }
  #photoModal {
    overflow: scroll!important;
  }
  .modelphotoContainer, .modelInfoContainer{
    width: unset!important;
    background: #000!important;
  }
  .groupImg{
    height: unset!important;
    width: unset!important;
  }
  .deleteBtn{
    margin-top: 10px!important;
    margin-left: 0!important;
  }
  /*.match-photo .comment-by img, .match-video .comment-by img{
    padding-left: 55px!important;
  }*/
  .modelSocialIcons .like span,
  .modelSocialIcons .comment span,  
  .modelSocialIcons .forward span{
    color: #fff!important;
  }
  .basicInfo {
    padding: 25px;
    color: #fff;
  }
  .next {
    right: 0%!important;
  }
  .modelSocialIcons {
    margin-top: unset!important; 
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px 17px;
  }
  .padTopMob{
    padding-top: 25px;
  }
  .videos .club-name, .club-members, .club-members-photo-section .club-member-photo:first-child{
      padding-left: 55px!important;
  }
	.searchbox #formDiv{
		padding-top: 15px;
	}
	nav{
		margin: 0 auto!important;
	}
	.searchbox #formDiv a {
		display: none!important;
	}
	.searchbox .searchInput{
		border: 1px solid #ced4da!important;
    width: 37%!important;
    position: absolute;
    right: 10px;
    display: block;
	}
	.event-info .contactOrgBtn{
		width: 123px!important;
	}
  .downArrowClub{
    bottom: 30px!important;
  }
  .club-info .address img{
    float: left;
  } 
  .club-info #date-time-text {
    text-align: left;
  }
  .club-info #date-time-text {
    text-align: center;
  }
  .event-info .club-time{
    text-align: left;
  }
  #triangle-up{
    right: 150px!important;
  }
  .boatAttSection {
    width: 80%!important;
    margin-bottom: 15px;
  }
  .notificationBox{
	  top: 135px!important;
    right: 10px!important;
    width: 95%!important;
  }
	.posts img{
		display: block;
	}
	.postHeaderRight{
		float: left!important;
	}
	.privateLikeComment{
		padding-top: 20px!important;
    margin-top: 68px!important;
    /*border-top: 1px solid #efefef;*/
	}
	/*.privateIcons{
		padding-right: 150px!important;
	}*/
	.profileLocation{
		padding-top: 70px!important;
	}
	/*.profile-private-info h2{
		padding-left: 105px!important;
	}*/
	/*.event-info .date-time-text{
		text-align: center;
	}*/
	.event-info .editProfileBtn{
	    top: 180px!important;
		left: 10px!important;
		padding: 6px!important;
	}
  .event-info .publicEditProfileBtn{
    top: 246px!important;
    left: 10px!important;
    padding: 6px!important;
  }
	.profile-photo-section{
		text-align: center;
	}
	.profile-private-info{
		left: unset!important;
	}
	.matchDownArrow{
		bottom: 27px!important;
	}
	.match-photo .comment-by .photo-by-name, .match-video .comment-by .photo-by-name{
		    left: 50px!important;
	}
	.match-photo .comment-by .photo-time, .match-video .comment-by .photo-time{
		left: 45px!important;
		bottom: 6px!important;	
	}
  .match-photo, .match-video{
		margin: 0 auto!important;
  }
  #dropdown-menu{
    /*left: unset!important;*/
  }
  .club-members-photo-section .club-member-flag {
    right: 85px!important;
  }
  ul.services li{
    width: 50%!important;
    margin: unset!important;
  }
  .event-info .leaveMessageBtn {
    width: 121px!important;
  }
  .event-info .publicleaveMessageBtn {
      width: 110px!important;
      margin-top: 31px;
  }
  .event-info .attendBtn, .leaveMessageBtn, .publicleaveMessageBtn {
    width: 100px!important;
  }
  .date-time-img img{
    width: 15%;
  }
  .event-info h2, .club-info h2{
    font-size: 20px!important;
  }
  .event-info #date-time-text{
    width: 195px;
  }
  .members-view-all {
    padding-left: 45%!important;
  }
  .photos-view-all {
    padding-left: 50%!important;
  }
  .videos-view-all {
    padding-left: 50%!important;
  }
  .comments-view-all {
    padding-left: 45%!important;
  }
  .comments {
    width: 375px!important;
  }
  .videos{
    margin: 0 auto!important;
  }
  .whiteRightImg {
    /*left: 175px!important;*/
    left: 165px!important;
    top: 90px!important;
  }
  .profileWhiteRightImg {
      top: 90px!important;
      left: 170px!important;
  }
  #membersOnly{
    display: none!important;
  }
  #membersOnlyMobile {
    display: block!important;
    background: #002e73;
    color: #fff;
    font-size: 14px;
    margin: 15px 0;
  }
  .downArrow {
    bottom: 28px!important;
  }
  .searchBox{
    width: 97%!important;
    right: 4px!important;
    border-top-left-radius: 20px;
  }
}
.event-info h2, .club-info h2{
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 34px;
  display: inline;
  font-family: "SF UI Display heavy";
  color: #2c2c2c;
  font-weight: 800;
}
.date-time-img{
  display: inline;
}
.date-time-img img{
  float: right;
}
.event-info .date-time-text{
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 24px;
  font-family: "SF UI Display light";
}
.event-info .crew-date, .event-info .ride-date{
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 24px;
  font-family: "SF UI Display light";
}
.event-info .attendBtn{
  background: #fff;
  width: 100px;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 4px;
  color: #002e73;
  font-weight: 500;
  outline: 0;
}
.event-info .contactOrgBtn {
  background: #fff;
  width: 150px;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 4px;
  color: #002e73;
  font-weight: 500;
  margin-left: 8px;
  outline: 0;
}
.event-info hr{
  margin-top: 35px;
 }
 .like{
  display: inline;
  cursor: pointer;
}
.comment{
  /*display: inline;*/
  /*padding-left: 50px;*/
  /*margin-left: 50px;*/
  /*cursor: pointer;*/
 }
 .forward{
  display: inline;
  /*padding-left: 50px;*/
 /* margin-left: 50px;*/
  cursor: pointer;
}
.like span, .comment span, .forward span{
  width: 22px;
  height: 15px;
  color: #afafaf;
  font-family: "SF UI Display light";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
h5.about-event{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
  line-height: 34px;
  font-family: 'SF UI Display heavy';
  width: 100%;
}
h5 a.view-all{
    float: right;
    color: #ff4135;
    font-size: 12px;
}
p.about-event{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
  line-height: 34px;
}
p.about-event-info{
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 24px;
}
ul.membersList{
  list-style-type: none;
  padding: 0;
}
ul.membersList li{
  float: left;
  margin-left: 5px;
}
.memberSection .memberSection ul{
  padding: 0px;
}
#membersOnly{
  width: 20%;
  float: right;
  background: #002e73;
  color: #fff;
  font-size: 14px;
}
.downArrow{
  position: absolute;
  right: 26px;
  bottom: 14px;
}
.whiteRightImg{
  position: absolute;
  top: 90px;
  left: 110px;
}
.profileWhiteRightImg{
  position: absolute;
  top: 90px;
  left: 110px;
}
.videos{
 /* width: 263px;
  height: auto;*/
  border: 1px solid #efefef;
  background-color: #ffffff;
  border-radius: 25px;
  text-align: center;
  padding-bottom: 15px;
}
.videos a{
  color: #1fafd4;
  font-weight: 400;
  font-family: "SF UI Display light";
  letter-spacing: 0.42px;
  vertical-align: sub;
}
.comments{
  /*width: 542px;*/
  height: auto;
  border: 1px solid #efefef;
  background-color: #ffffff;
  border-radius: 25px;
}  
.comments .comment-info{
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 24px;
  padding: 20px;;
}
.comments .comment-by{
  padding: 25px;
}
.comments .comment-by .comment-by-name{ 
  color: #585858;
  font-family: "SF UI Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  display: inline;
  padding: 10px;
  position: absolute;
  bottom: 25px;
}
.comments .comment-by .comment-time{
  width: 65px;
  height: auto;
  color: #afafaf;
  font-family: "SF UI Display light";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding: 10px;
  position: absolute;
  left: 76px;
  bottom: 15px;
}
.members-view-all, .photos-view-all, .videos-view-all, .comments-view-all{
  color: #ff4135;
  font-family: "SF UI Display light";
  letter-spacing: 0.28px;
  line-height: 34px;
}
.members-view-all{
  padding-left: 82%;
}
.photos-view-all{
  padding-left: 84%;
}
.videos-view-all{
  padding-left: 87%;
}
.comments-view-all{
  padding-left: 83%;
}
#membersOnlyMobile{
  display: none;
}
.servicesSection{padding-left: 34px;}
ul.services{list-style: none;}
ul.services li{
  float: left;
  margin-right: 108px;
  height: 40px;
  width: 15%;
  color: #585858;
  font-family: "SF UI Display light";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 24px;
}
ul.services li::before {
  content: "\2022";
  color: #ff4135;
  font-weight: bold;
  width: 15px;
  display: inline-block; 
  margin-left: -18px;
}
.downArrowClub{
  position: absolute;
  right: 26px;
  bottom: 14px;
}
p.club-name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  line-height: 34px;
  font-family: 'SF UI Display light';
  color: #585858;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0px;
}
.videos .club-members{
  color: #afafaf;
  letter-spacing: 0.28px;
  font-size: 14px;
  text-align: initial;
  padding-left: 14px;
  margin-top: -6px;
} 
.club-members-photo-section{
  display: flex;
  padding: 22px 15px;
}
.club-members-photo-section .club-member-photo{
  padding-right: 5px;
}
.club-members-photo-section .club-member-flag{
  position: absolute;
  right: 35px;
}
.videos .club-line{
  margin-top: 0;
  width: 85%;
  margin-bottom: 10px;
}
.login-logo-section{
  margin: 0 auto;
  margin-top: 30px;
}
.loginSection{
  padding: 30px;
  border: 1px solid #ced4da;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 10px;
}
.continueBtnSection .continueBtn{
  background: #002e73;
  color: #fff;
  border: 0;
  padding: 5px;
  width: 100%;
  border-radius: 20px;
  outline: 0;
}
.loginSection h3{
  font-weight: 700;
}
.forgotPassLink{
  float: right;
  color: #002e73;
  font-weight: 700;
}
.social{
  width: 100%;
  height: 32px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
    
  border-radius: 20px;
  margin-top: 10px;
}
.fbSignUp{
  color: rgb(255, 255, 255);
  border-color: #1976d2;
  background: #1976d2;
}
.googleSignUp{
  color: rgb(78, 78, 78);
  border-color: rgb(229, 229, 229);
  background: rgb(255, 255, 255);
}
.signUpLink{
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
}
#signIn label{
  color: #000;
}
#signIn .fieldSection, #resetPassForm .fieldSection{
  margin-top: -10px;
}
.signUpLink a{
  color: #002d73;font-weight: 700;
}
.leaveMessageBtn, .publicleaveMessageBtn{
  background: #fff;
  width: 135px;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 4px;
  color: #002e73;
  font-weight: 500;
  outline: 0;
}
.club-info .clubContactOrgBtn {
  background: #fff;
  width: 128px;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 4px;
  color: #002e73;
  font-weight: 500;
  outline: 0;
}
.hr-line{
  margin-top: 27px;
}

p.success-msg{
    text-align: center;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 0!important;
    background: green;
    color: #fff;
    border-radius: 25px;
}
.loginSection h4{
    font-weight: 600;
    padding-bottom: 12px;
    text-align: center;
}
.success-text{
  padding: 5px;
  text-align: center;
}
.signupSuccess{
  margin-top: 86px;
}
#dropdown-menu{
      top: 10px!important;
    left: 35px;
}
#dropdown-menu a{
  color: #212529;
}
.dropdown-toggle::after {
  content: unset!important;
}

.match-photo .comment-by img, .match-video .comment-by img{
    float: left;
    /*padding-top: 13px;
    padding-left: 10px;*/

    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 10px;
}

.match-photo .comment-by .photo-by-name, .match-video .comment-by .photo-by-name{
  color: #585858;
    font-family: "SF UI Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    display: inline;
    padding: 10px;
    position: absolute;
    bottom: 18px;
    left: 50px;
}
  .match-photo .comment-by .photo-time, .match-video .comment-by .photo-time{
    width: 65px;
    height: auto;
    color: #afafaf;
    font-family: "SF UI Display light";
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 10px;
    position: absolute;
    left: 46px;
    bottom: 6px;
  }
  .match-photo{
    width: auto;
    height: auto;
    border: 1px solid #efefef;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 60px;
  }

  .match-video {
    /*width: 263px;
    height: 323px;*/
    border: 1px solid #efefef;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 60px;
  }
  .match-video a.youtube-url{
  	position: relative;
    top: 8px;
    /*right: 52px;*/
    color: #1fafd4;
  }

 .continueBtnSection .okBtn {
    background: #002e73;
    color: #fff;
    border: 0;
    padding: 5px;
    width: 40%;
    border-radius: 20px;
    margin-top: 10px;
    outline: 0;
}

.likeCommentSection{
	padding-top: 35px;
}

.event-info .editProfileBtn, .event-info .publicEditProfileBtn{
	background: #fff;
    width: 118px;
    border: 1px solid #efefef;
    border-radius: 50px;
    color: #002e73;
    font-size: 14px;
    font-family: "SF UI Display light";
    font-weight: 400;
   	padding: 8px;
   	position: absolute;
    top: 0px;
    left: 230px;
    outline: 0;
}
 /*.profile-private-info{
 		left: -60px;
 }*/
.profilePrivateInfoSection{
    /*width: 1100px;
    height: 185px;*/
    border: 1px solid #efefef;
    background-color: #fafafa;
    border-radius: 15px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.profilePrivateInfoSection label{
	width: auto;
    color: #afafaf;
    font-family: "SF UI Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 42px;
    margin-bottom: 0px;

}
.profilePrivateInfoSection .addict{
	padding-left: 100px;
}

.profilePrivateInfoSection .infoDetails{
	float: left;
}
.profilePrivateInfoSection .infoDetails1{
	float: left;
	padding-left: 105px;
}
.profilePrivateInfoSection .smokeSection{
	padding-left: 165px;
}
.profilePrivateInfoSection .infoDetails .infoVal1{
    width: auto;
    height: 24px;
    color: #585858;
    font-family: "SF UI Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
}

.profilePrivateInfoSection .infoDetails .infoVal2{
    width: auto;
    height: 24px;
    color: #585858;
    font-family: "SF UI Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    padding-right: 50px;
}
.profilePrivateInfoSection .infoDetails1 .infoVal2{
    width: auto;
    height: 24px;
    color: #585858;
    font-family: "SF UI Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
}
.club-boat-img{
	display: inline;
}
.club-img img{
	position: absolute;
    top: 20px;
    right: 133px;
}
.ship-img img{
	position: absolute;
    top: 20px;
    right: -47px;
}
.profilePrivateInfoSection .infoDetails .bioDetails{
height: 40px;
color: #585858;
font-family: "SF UI Display light";
font-size: 14px;
font-weight: 400;
letter-spacing: 0.28px;
line-height: 22px;
}
.privateProfileImg{
	display: inline;
}
.privateProfileImg img{
	float: right;
}
.profileLocation{
	height: 24px;
    color: #585858;
    font-family: "SF UI Display light";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
}
.selectedEventTypeLabel, 
.selectedSkillLabel, 
.selectedGenderLabel, 
.selectedBoatTypeLabel, 
.selectedSailTypeLabel, 
.selectedCourseTypeLabel,
.selectedPreTypeLabel,
.selectedSkillTypeLabel,
.selectedRentalTypeLabel,
.selectedServiceTypeLabel,
.selectedAminityTypeLabel,
.selectedGroupTypeLabel{
    color: #fff;
    font-family: 'SF UI Display Medium';
    background-color: #002E73;
    border-color: #002E73;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.selectedEventTypeLabel:hover, 
.selectedSkillLabel:hover, 
.selectedGenderLabel:hover, 
.selectedBoatTypeLabel:hover, 
.selectedSailTypeLabel:hover,
.selectedCourseTypeLabel:hover,
.selectedPreTypeLabel:hover,
.selectedSkillTypeLabel:hover,
.selectedRentalTypeLabel:hover,
.selectedServiceTypeLabel:hover,
.selectedAminityTypeLabel:hover,
.selectedGroupTypeLabel:hover{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    cursor: pointer;
}
.eventTypeLabel, 
.skillLabel, 
.genderLabel, 
.boatTypeLabel, 
.sailTypeLabel,
.courseTypeLabel,
.preTypeLabel,
.skillTypeLabel,
.rentalTypeLabel,
.serviceTypeLabel,
.clubProfileTypeLabel,
.groupTypeLabel{
    border-radius: 20px;
    font-family: 'SF UI Display Medium';
    margin-right: 10px;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #6c757d;
    cursor: pointer;
    color: #6c757d;
}
.eventTypeLabel:hover, 
.skillLabel:hover, 
.genderLabel:hover, 
.boatTypeLabel:hover, 
.sailTypeLabel:hover,
.courseTypeLabel:hover,
.preTypeLabel:hover,
.skillTypeLabel:hover,
.rentalTypeLabel:hover,
.serviceTypeLabel:hover,
.clubProfileTypeLabel:hover,
.groupTypeLabel:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
}


.event-info .crewBtn, .crewBtn{
    color: #fff;
    font-family: 'SF UI Display Medium';
    background-color: #002e73;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
}
.crew-title{
    letter-spacing: 0.6px;
    line-height: 34px;
    font-family: "SF UI Display light";
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 700;
  }
  .crewAttributes{
    padding: 20px 0; 
  }
  h1.postTitle{
    letter-spacing: 0.6px;
    line-height: 34px;
    text-align: center;
    /*padding: 45px;*/
    padding-bottom: 25px;
  }
  .postTable{
    width: 85%;
    margin: 0 auto;
  }
  .postHeaderLeft{
    display: inline;
    float: left;
    color: #2c2c2c;
	font-family: "SF UI Display light";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 34px;
	font-weight: 600;
  }
  .postHeaderLeft img{
    padding: 10px;
  }
  .postHeaderRight {
    display: inline;
    float: right;
    padding-top: 10px;
    color: #002e73;
	font-family: "SF UI Display light";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 34px;
	font-weight: 600;
  }
  .postHeaderRight img{
    padding: 10px;
  }
  .posts{
	color: #2c2c2c;
	font-family: "SF UI Display light";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 34px;
	font-weight: 600;
  }
  .posts img{
    padding: 13px;
  }

  .notificationBox{
  	background: #fff;
    width: 30%;
    height: auto;
    position: absolute;
    top: 92px;
    right: 245px;
    z-index: 9;
    border: 1px solid #6c757d;
    -webkit-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    -moz-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
  }
  
  .notificationUl, .searchUl{
  	list-style-type: none;
    padding: 8px;
  }
  	.notificationUl li.notificationText:first-child {
  		cursor: unset;
	}
	
	.notificationUl li{
  		padding: 15px 0px;
    	border-bottom: 1px solid #d6dae0;
    	cursor: pointer;
	}
	.notificationUl li:hover{
  		background: #f3f2f2;
	}

  	.notificationUl .markAllAsRead{
  		float: right;
  		color: #002e73;
  	}
  	.notificationUl .seeAll{
  		color: #002e73;
	    margin: 0 auto;
	    text-align: center;
	    display: block;
	    font-weight: 700;
  	}
  	h5.notificationList{
  		padding: 15px 0;
    	font-weight: 700;
    	border-bottom: 1px solid;
  	}

  	.notificationUl li img{
  		padding-right: 5px;
  	}

  	.notificationUl span.notificationTime{
  		float: right;
  		font-size: 12px;
  		padding-top: 5px;
  	}

    /* .boat-el{
      display: inline;
    }
    .boat-val{
      display: inline;
      padding-left: 34px;
    }*/
    .boatAttSection{
      width: 35%;
      margin-bottom: 15px;
    }
    .boatAttSection th{
      padding: 6px;
    }
    .boatSection{
      padding-top: 10px;
    }
  #triangle-up {
    /*border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #002e73;
    position: absolute;
    right: 274px;
    top: 67px;*/
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #002e73;
    position: absolute;
    right: 27px;
    top: -26px;
  }

  .postModel{
    max-width: 1000px;
  }
  .closeModel{
    padding-top: 20px;
    padding-right: 10px;

  }
  .closeModel img{
    float: right;
     cursor: pointer;
  }

  .sideImg{
    border-radius: 23px;
    height: 245px;
    width: 430px;
  }
  .smallListImg{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    padding: 3px;
  }
  .photosVideosImg{
    height: 245.5px;
    width: 248px;
    border-radius: 20px;
  }
  /*.photosVideosImg:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }*/
  .tinyImg{
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  .photoRow{
      overflow-x: scroll;
      width: 100%;
  }
  .photoRow .photoSection{
    padding: 0;
    display: flex;
  }

.club-info .date-time-text {
    color: #585858;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    font-family: "SF UI Display light";
}

.club-info .add, .event-info .add {
    color: #585858;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    font-family: "SF UI Display light";
}

.addressTable {
    /*margin-bottom: 20px;*/
}
.addressTable .add-icon{
	width: 40px;
	height: 40px;
}
.matchDownArrow {
    position: absolute;
    right: 26px;
    bottom: 22px;
}
.profile-date-time-text .date-time-text {
    color: #585858;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    font-family: "SF UI Display light";
}
.MagicScroll div a{
	display: none!important;
}
.MagicScroll span a{
	display: none!important;
}
.profImg{
  border-radius: 15px;
  height: 225px;
}
.profMemImg{
  border-radius: 30px;
  height: 150px;
}
.socialSection, .userSectionSocialSection{
  padding-top: 15px;
}

.club-img{
  padding-left: 10px;
  padding-bottom: 25px;
  height: 70px;
  width: 70px;
}

.boat-img{
  padding-left: 10px;
  padding-bottom: 25px;
  height: 70px;
  width: 70px;
}
.labelInfo{
  display: inline-block;
}
.profilePrivateInfoSection .bioDetails{
  height: 40px;
  color: #585858;
  font-family: "SF UI Display light";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 22px;
}
.privateProfileImg .profImg1{
  height: 50px;
  width: 50px;
}
.privateProfileImg .profImg2{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.searchBox {
    background: #fff;
    width: 35%;
    height: auto;
    position: absolute;
    top: 64px;
    right: 305px;
    z-index: 9;
    border: 1px solid #efefef;
   /* -webkit-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    -moz-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);*/
   /* border-radius: 10px;*/
   border-bottom-left-radius:20px;
   border-bottom-right-radius:20px;
   border-top-right-radius:20px;
}
.searchUl li{
      padding: 7px 0px;
      /*border-bottom: 1px solid #d6dae0;*/
      cursor: pointer;
}
.searchUl li img{
      padding-right: 5px;
}
.searchUl .seeAll{
      color: #002e73;
      margin: 0 auto;
      text-align: center;
      display: block;
      font-weight: 700;
}
h6.searchList{    
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 30px;
  }
  .searchUl .objectSmallIcon{
    width: 40px;
  }

  .matchEventName{
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 95px;
    color: #FFF;
    left: 95px;
  }
 
  .matchEventIcon{
	  width: 150px;
    height: 65px;
    border-radius: 30px;
  }
  .eventCourseName{
    /*position: absolute;
    top: 20px;
    right: 40px;
    color: #f8f9fa;
    font-weight: 700;*/
    font-weight: 700;
    padding-left: 25px;
  }
  .enlargePhoto{
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;*/
    width: 945px;
    margin-bottom: 0px;
    height: 550px;
  }
  .basicInfo{
    padding: 20px;
    padding-bottom: 0px;
  }

  .basicInfo .title{
    display: inline;
    padding: 10px;
    font-weight: 700;
  }
  .basicInfo .date{
    display: block;
    padding-left: 50px;
    font-size: 12px;
  }
  .modelSocialIcons{
    padding-left: 10px;
    margin-top: 70px;
    /*border-top: 1px solid rgba(0,0,0,.1);*/
    padding: 10px 0;
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
  }
  .modelPhotoSocialIcons{
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 100%;
  }
  .modelPhotoSocialIcons .like span,
  .modelPhotoSocialIcons .comment span,
  .modelPhotoSocialIcons .forward span{
    color: #fff;
  }
  .deleteBtn{
    width: 90px;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 50px;
    padding: 4px;
    color: #002e73;
    font-weight: 500;
    margin-left: 8px;
    outline: 0!important;
  }
  .topicName{
    padding-top: 15px;
    font-weight: 700;
  }
  .groupImg{
    height: 160px;
    width: 160px;
  }
  .groupUserName{
    text-align: center;
  }

/* Enlarge photo section */
  .modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: black;
}

/*.modal-body {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;

  max-width: 1050px;
  height: 550px;
}*/

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 29%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End - Enlarge photo section */

.basicInfo a .modelUserImg{
  width: 30px;
  padding-top: 5px;
}
.basicInfo a{
  padding-left: 11px;
}
.basicInfo a span{
  color: #212529;
  padding: 5px;
  vertical-align: middle;
  font-size: 12px;
} 
.inputSection{
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 22px;
  display: inline-block;
  width: 80%;
}
.inputSection img{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  width: 23px;

}
.inputSection .commentInput{
    border: none;
    outline: none;
}

.modelphotoContainer{
  width: 70%;
}
.modelInfoContainer{
  width: 30%;
  background: #fff;
}
.commentUserImg{
  width: 37px;
  border-radius: 20px;
  vertical-align: top;
}

.commentSection{
  padding-top: 25px;
}
.commentBySection{
  padding-left: 15px;
  display: inline;
}
.commentsByUser{
    background: #e7ecef;
    width: 225px;
    height: auto;
    float: right;
    margin-left: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.commentsByUserName{
    padding: 5px;
    font-size: 12px;
    padding-bottom: 0px;
    font-weight: 700;
    margin-bottom: 0px;
}
.userComments{
      padding: 5px;
    font-size: 14px;
    padding-top: 0px;
    width: 220px;
        margin-bottom: 3px;
}
.commentReply{
  padding-left: 45px;
  padding-top: 10px;
}
.commentReplyByUser{   
  background: #e7ecef;
  width: 170px;
  height: auto;
  float: right;
  margin-left: 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px;
  }
  .userCommentsReply{
    padding: 5px;
    width: 165px;
    margin-bottom: 3px;
    font-size: 14px;
    padding-top: 0;
  } 
.commentContainer{
  padding-top: 15px;
}
.commentsByUserName span{
  float: right;
  padding-right: 5px;
  font-size: 10px;
}

.commentBox{
    overflow-y: scroll;
    height: 273px;
    overflow-x: hidden;
}

.chatIcon{    
position: fixed;
    right: 210px;
    width: 60px;
    top: 118px;
    display: none;
}
.commentsmall {
    display: inline;
    padding-left: 85px;
    padding-right: 20px;
}
.like span, .commentsmall span {
    width: 22px;
    height: 15px;
    color: #afafaf;
    font-family: "SF UI Display light";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

h5.about-event{ padding: 0px 15px;}
p.about-event-info{padding: 0px 15px;}
.eventCommentBox{
  padding:0 15px;
}
p.course-info {
    color: #585858;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
}

.comments .comment-by img{
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

#createPost{
  width: 60%;
  margin: 0 auto;
}

.createPostModel .modelPostContainer{
  padding: 20px;
}

.closeBtn{
  color: #000;
  padding: 5px !important;
}
.postUserImgContainer{
  display: inline;
  vertical-align: top;
}
.postInputBox{
  display: inline;
}
.postInputBox .postInput{
  border:none;
  outline: 0;
  width: 80%;
}
.postModelHeader{
  background:#dddfe2;
  padding: 6px;
}
.postText{
  color: #4b4f56;
  font-weight: 700;
}
.uploadImg{
  /*color: #1c1e21;
    cursor: pointer;
    background: #ebedf0;
    width: 40%;
    padding: 3px;
    border-radius: 20px;
    font-weight: 700;*/
    color: #1c1e21;
    cursor: pointer;
    background: #ebedf0;
    width: 32%;
    padding: 5px;
    border-radius: 20px;
    font-weight: 700;
    height: 40px;
    margin-left: 8px;
}
.postBtn{
    /*float: right;
    margin-bottom: 15px;
    background-color: #002e73;*/
    margin-bottom: 15px;
    background-color: #002e73;
    margin: 0;
    width: 100%;
}
.postBtn:hover{
  background-color: #002e73;
}
.rentalTimingTable {
  width: 50%;
  margin: 15px 15px;
  border: 2px solid #dee2e6;
}
.rentalTimingTable td, .rentalTimingTable th{
  padding: 10px;
  text-align: center;
}


.post-text{
  background: #f5f6f7;
    padding: 6px;
    border-radius: 4px;
}
.postSection{
  padding: 10px;
  /*border-bottom: 2px solid red;*/
}
#exampleModalCenter{
  top: -100px!important;
}

.postUserImg{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.postUserName{
  display: inline;
  padding: 9px;
  font-weight: 700;
  vertical-align: top;
}  
#postText{
  background: #ebedf0;
  padding: 5px;
  border-radius: 5px;
}
.postTime{
  display: block;
    position: relative;
    left: 52px;
    font-size: 13px;
    bottom: 20px;
}
.postContent{
  /*padding: 10px;
  padding-left: 0;*/

    color: #585858;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    /*padding: 20px;*/
}  
.postContainer{
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 15px; 

  padding: 0; 
}

.dynamicPostContainer{
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
  padding-bottom: 30px;
}
.postSocialSection{
  padding: 15px;
  text-align: center;
}
.dot:after {
  content: '\2807';
  font-size: 20px;
  }
.dot{
  display: inline;
  float: right;
  cursor: pointer;
}

/*32*/
/*.bx-wrapper .bx-viewport{
  height: 115px!important;
}
.bx-wrapper{
  max-width: 97%!important;
  margin: 0 auto!important;
  margin-bottom: 35px!important;
  margin-top: 20px!important;
}*/

.postCommentBySection{
  display: inline;
}
.postCommentsByUser{
  background: #e7ecef;
  margin-left: 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: inline-block;
  width: 90%;
  position: relative;
}
.postUserComments{
  padding: 5px;
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 3px;
  color: #585858;
}
/*.postInputBox {
   .inputSection {
    border: 1px solid #DDD;
    padding: 5px;
    border-radius: 22px;
    display: inline-block;
    width: 90%;
}
}*/
#postInputSection{
  width: 90%;
}
.replyUserComments{
  display: inline;
  padding-left: 55px;
  padding-right: 20px;
}
.replyUserComments span {
    width: 22px;
    height: 15px;
    color: #afafaf;
    font-family: "SF UI Display light";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
}
.replyToCommentSection{
  padding-top: 20px;
  padding-left: 50px;
}

.postCommentsByUserReply {
    background: #e7ecef;
    margin-left: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: inline-block;
    width: 88%;
    position: relative;
}
.replyPostInputSection{
    padding: 15px;
    padding-left: 0;
    padding-top: 0;
}

/*42*/

.postCommentInput{
  width:90%;
}

.match-photo:hover .photoHover{display:block;}
.photoHover .hoverEffect{
  display: inline;
  padding:5px; 
  cursor: pointer;
}
.photoHover{
  display: none;
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 24px;
    padding-left: 6px;
    position: absolute;
    bottom: 65px;
    border-top: 1px solid #fff;
    padding-top: 8px;
    width: 100%;
}
  

  .uploadImg img{
    padding-left: 7px;
  }

/*03*/

.shareSection{
    /*box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    width: 33%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
    margin-right: 39%;*/
    display: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    position: absolute;
bottom: -210px;
background: rgb(255, 255, 255);
z-index: 999;
left: 40px;
}
.shareSection ul{
  list-style: none;
  border: 1px solid #efecec;
  padding-left: 0px;
  margin-bottom: 0;
}
.shareSection ul li{
    padding: 6px;
    font-size: 14px;
    color: #585858;
    font-family: 'SF UI Display Light';
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 20px;
    padding-left: 15px;
    cursor: pointer;
}
.shareSection ul li:hover{
  background: #002e73;
  color: #fff;
}
#share-triangle-up {
   /* border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #002e73;
    position: absolute;
    right: 427px;
    top: 266px;*/
    position: absolute;
    top: -10px;

right: 20px;

width: 20px;
height: 20px;
/*background-image: url("../images/fb-up-arr.png");*/
transform: rotate(45deg);
background: #fff;
border-top: 1px solid rgb(144 144 144 / 30%);
border-right: none;
border-left: 1px solid rgb(144 144 144 / 30%);
border-bottom: none;
}

.event-info{
  position: relative;
}

.ShareModelContent{
    height: 200px;
}
.addMember{
  margin: 15px 0;
}

.MagicScroll .mcs-button{
  outline: 0;
}
.shareSection li img{
    width: 40px;
    padding-right: 10px;
  }

/* .shareSection li .sharFB{
    width: 55px;
    padding-right: 10px; 
  }*/
  .like {
display: inline-block;
cursor: pointer;
width: 12%;
}
.comment {
display: inline-block;
cursor: pointer;
width: 11%;
}

.where-to-share{
      margin: 0;
    padding: 5px;
    font-weight: 700;
    text-align: center;
}

/*40*/
.chatBox {
    height: 400px;
    width: 300px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 999;
    right: 0px;
    bottom: 0px;
    top: 180px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.chatHead{
  background: #002e73;
  padding: 15px;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.chatCloseImg{
  width: 20px;
    float: right;
    padding: 2px;
    cursor: pointer;
}
.chatUserImg{
  width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 6px;
    margin:0 auto;
}
p.you{
  padding:5px;
}
.you span{
    background: #f1f0f0;
    padding: 6px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #444950;
    width: auto;
    display: inline-block;
}

p.me{
  padding:5px;
  text-align: right;
  float: right;
}
.me span{
    background: #0099ff;
    padding: 6px;
    /*border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border-radius: 15px;
    color: #fff;
    display: block;
    /*margin-left: 160px;*/
    width: auto;
    display: inline-block;

}
.chatSection{
  height: 240px;
  overflow-y: scroll;
  }
/*50*/
.chatInput{
  border: none;
  padding-left: 10px;
  display: inline;
  outline: 0;
  width: 80%;
}
.chatUploadIcon{
  padding-top: 8px;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.messageMotificationBox {
    background: #fff;
    width: 25%;
    height: auto;
    position: absolute;
    top: 92px;
    right: 200px;
    z-index: 9;
    border: 1px solid #6c757d;
    -webkit-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    -moz-box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
    box-shadow: 1px 2px 7px 1px rgba(108,117,125,1);
}

.messageMotificationBox .notificationUl .msgItem {
    padding: 5px 0px;
    vertical-align: super;
    height: 78px;

}
.messageImage{
  display: inline-block;
  width: 26%;
}
.messageInfo{
  display: inline-block;
  vertical-align: top;
  /*padding-left: 10px;*/
  width: 72%;
}
.messageCat{
  margin-bottom: 0px;
  font-size: 16px;
  /*padding-left: 15px;*/
}
.messageName{
  margin-bottom: 0px;
  font-size: 12px;
  color: #585858;
}
.messageStatus{
  margin-bottom: 0px;
  font-size: 12px;
  color: #585858;
}
.msgnotificationTime{
  margin-bottom: 0px;
  padding-left: 100px;
  font-size: 12px;
}
/*.messageImage img{
  vertical-align: super;
}*/
.msgSubImg{
  position: relative;
  left: 50px;
  top: -30px;
  border-radius: 25px;
  width: 30px;
}
.messageMotificationBox .notificationUl li .msgImg{
  border-radius: 10px;
  width: 70px;
  height: 59px;
}
.messageCat span{
  font-size: 12px;
  float: right;
  font-size: 12px;
}
.chatUploadSection{
  display: inline;
}
.youChatUploadImg{
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  padding-left: 0;
}
.meChatUploadImg{
  width: 180px;
  padding: 10px;
  border-radius: 15px;
}
.nomargin{
  margin:0;
}
.dotModel{
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  border:1px solid #e5e5e5;
  width: 12%;
  height: 78px;
  padding-top: 0px;
  margin: 0 auto;
  z-index: 999;
}
.dotModel ul{
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.dotModel ul li{
  padding: 7px;
  background: #fff;
  cursor: pointer;
}
.dotModel ul li:hover{
  background:#e5e5e5;
}

.loadCommentText{
  display: inline-block;
  cursor: pointer;
  float:right;
  padding-right: 30px;
}
.loadCommentText span{
  color: #afafaf;
  font-family: "SF UI Display light";
  font-size: 12px;
  font-weight: 400;
}

.commentUploadImg {
  border-radius: 23px;
  height: 200px;
  width: 300px;
  padding: 15px;
  display: block;
  overflow: hidden;
}
.commentUploadImg .postImg{
  max-height: 100%;
  border-radius: 20px;

}
.commentDot:after {
  content: '\2807';
  font-size: 20px;
  }
.commentDot {
    float: right;
    cursor: pointer;
    padding-right: 2px;
}
.commentDotModel{
    display: none;
    border: 1px solid #e5e5e5;
    width: 12%;
    height: 78px;
    padding-top: 0px;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    top: 23px;
    right: 15px;
  }
  .commentDotModel ul{
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.commentDotModel ul li{
  padding: 7px;
  background: #fff;
  cursor: pointer;
}
.commentDotModel ul li:hover{
  background:#e5e5e5;
}

/*71*/

.replyDot:after {
  content: '\2807';
  font-size: 20px;
  }
.replyDot {
    float: right;
    cursor: pointer;
    padding-right: 2px;
}
.replyDotModel{
  display: none;
  border: 1px solid #e5e5e5;
  width: 12%;
  height: 78px;
  padding-top: 0px;
  margin: 0 auto;
  z-index: 999;
  position: absolute;
  top: 23px;
  right: 15px;
}
.replyDotModel ul{
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.replyDotModel ul li{
  padding: 7px;
  background: #fff;
  cursor: pointer;
}
.replyDotModel ul li:hover{
  background:#e5e5e5;
}

.userSectionSocialSection .like {
    display: inline-block;
    cursor: pointer;
    width: 25%;
}
.userSectionSocialSection .comment {
    display: inline-block;
    cursor: pointer;
    width: 18%;
}
.userSectionSocialSection .forward {
    display: inline;
    cursor: pointer;
}
.userSectionSocialSection .bar {
  color: #afafaf;
  display: inline-block;
  width: 6%;
}
.bar{
  color: #afafaf;display: inline-block;width: 4%;
}

/*81*/

.set_location_btn{
    width: 100%;
    background: #002e73;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 7px;
    margin-top: 20px;
    border:none;
}
.close .close-icon{
  display: block;
  color: #808080;
}

/*19*/

.postContentImg {
    height: 200px;
    width: 430px;
    overflow: hidden;
}
.postContentImg .postImg{
    max-height: 100%;
    border-radius: 20px;
}

/*42*/

.modelSocialIcons .like{
    display: inline-block;
    cursor: pointer;
    width: 35%;
}
.modelSocialIcons .comment {
    display: inline-block;
    cursor: pointer;
    width: 35%;
}
.modelPhotoSocialIcons .like {
    display: inline-block;
    cursor: pointer;
    width: 8%;
}
.modelPhotoSocialIcons .comment {
    display: inline-block;
    cursor: pointer;
    width: 7%;
}
.commentSocial .like {
    display: inline-block;
    cursor: pointer;
    width: 15%;
}