<head>
<title>Forgot Password </title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width" name="viewport">

<style>
  @media only screen and (min-width:320px) and (max-width:767px){
      #body{ width: 100%!important; }
  }

 /* #body{ background-color: #fff;width: 60%; margin: 0 auto;margin-top: 70px; }
  #body .contents{padding-left: 60px;padding-right: 60px;padding-top: 20px;}
  #body .contents .logo{ text-align: center; }
  #body .contents .welcomeText{ margin:0px;font-size: 16px; font-family: 'Arial'; padding-top: 20px; line-height: 30px; }
  #body .contents .bodyContents{ margin:30px 0 30px 0;font-size: 16px; font-family: 'Arial'; line-height: 30px; }
  #body .contents .buttonContainer{ margin-bottom:50px;font-size: 16px; font-family: 'Arial'; line-height: 30px; }
  #body .contents .buttonContainer .verificatoinBtn{ background: #002e73;color: #fff;border: 0;padding: 15px;width: 100%;
    border-radius: 25px;text-decoration: none; }
  #body .contents .thankText{ margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px; }  
  #body .contents .companyName{margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px;padding-bottom: 35px;}
  #body .contents .contactText{padding-bottom: 30px;margin-bottom:20px;font-size: 16px; font-family: 'Arial'; line-height: 30px;}
  #body .contents .logoContainer{text-align: center;}*/
</style>

</head>
<body>
<!-- #f4f4f5; -->
<div  style="background-color: #002e73;width: 100%;padding-top: 1;padding-bottom: 20px;">
 <div style="background-color: #fff; margin-left: 15%; margin-right: 15%;margin-top: 70px;">
      <div style="margin-left: 50px; margin-right: 50px;padding-top: 20px;">
        <p style="text-align: center;"><a href="#"><img src="http://socialenginespecialist.com/PuneDC/sailmatch/images/logo.png" alt="logo" style="width:225px;"></a> </p>    

        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; padding-top: 20px; line-height: 30px;">Hi <strong>mahesh.mirase@yopmail.com</strong>,</p>
      
        <p style="margin:30px 0 30px 0;font-size: 16px; font-family: 'Arial'; line-height: 30px;">You are receiving this email because we received a password reset request for your account.</p>
    
        <p style="margin-bottom:50px;font-size: 16px; font-family: 'Arial'; line-height: 30px;"> <a href="#" style="background: #002e73;color: #fff;border: 0;padding: 15px;width: 100%;border-radius: 25px;text-decoration: none;">Reset Password</a> </p>
         
        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px;">Thanks,</p>
        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px;padding-bottom: 35px;">Sailmatch Team</p>

        <p style="padding-bottom: 30px;margin-bottom:20px;font-size: 16px; font-family: 'Arial'; line-height: 30px;">Have questions? <a href="#">Contact US</a></p>
    
          
    </div>
  </div>
  </div>
</body>