<head>
<title>Share Post Email</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width" name="viewport">


</head>
<body>
<!-- #f4f4f5; -->
<div  style="background-color: #fff;width: 100%;padding-top: 1;padding-bottom: 20px;">
 <div style="background-color: #fff; margin-left: 15%; margin-right: 15%;margin-top: 70px;">
      <div style="margin-left: 50px; margin-right: 50px;padding-top: 20px;">
        <p style="text-align: center;"><a href="#"><img src="http://socialenginespecialist.com/PuneDC/sailmatch/images/logo.png" alt="logo" style="width:225px;"></a> </p>    

        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; padding-top: 20px; line-height: 30px;">Hi <strong>mahesh.mirase@yopmail.com</strong>,</p>

        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; padding-top: 20px; line-height: 30px;margin-bottom: 40px;"><strong>Ankita D</strong> have shared a post about <strong>Crew</strong></p>
    
       <!--  <p style="margin-bottom:50px;font-size: 16px; font-family: 'Arial'; line-height: 30px;margin-top: 45px;"> 
          <a href="#" style="background: #002e73;color: #fff;border: 0;padding: 15px;width: 100%;border-radius: 25px;text-decoration: none;">Please Join
          </a> 
        </p> -->
         
        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px;">Thanks,</p>
        <p style="margin:0px;font-size: 16px; font-family: 'Arial'; line-height: 30px;padding-bottom: 35px;">Sailmatch Team</p>

        <p style="padding-bottom: 30px;margin-bottom:20px;font-size: 16px; font-family: 'Arial'; line-height: 30px;">Have questions? <a href="#">Contact US</a></p>
    
          
    </div>
  </div>
  </div>
</body>